<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mlem upload</title>
</head>
<body>
    <div th:replace="~{fragments/header :: my-header}"></div>

    <h2>단일 파일 업로드 결과 체크용 뷰</h2>

    <h3 th:text="${subject}"></h3>
    <ul>
        <li>fieldName: <span th:text="${item.fieldName}" /></li>
        <li>originName: <span th:text="${item.originName}" /></li>
        <li>contentType: <span th:text="${item.contentType}" /></li>
        <li>fileSize: <span th:text="${item.fileSize}" /></li>
        <li>filePath: <span th:text="${item.filePath}" /></li>
        <li>fileUrl: <span th:text="${item.fileUrl}" /></li>
    </ul>

    <img th:src="${item.fileUrl}" width="320" />
</body>
</html>